<div *ngIf="patient" class="container col">
  <div class="list-group float-left">
    <a routerLink="/profile" class="list-group-item list-group-item-action active text-center" id="viewSide">View Profile</a>
    <a routerLink="/edit-profile" class="list-group-item list-group-item-action text-center" id="editSide">Edit Profile</a>
  </div>

  <div class="container float-right" id="rightSide">
    <div class="container col-sm-2 float-left text-center" id="rightInner">
        <label>Email:</label>
        <input type="text" class="text-line text-center" value="{{patient.email}}" disabled>
        <br>
        <label>Password:</label>
        <input type="password" class="text-line text-center" value="{{patient.password}}" disabled>
    </div>
    
    <div class="container col-sm-9 float-right" id="rightInner">
      <label>First Name:</label>
      <input type="text" class="text-line text-center" value="{{patient.firstName}}" disabled>
      <br>
      <label>Last Name:</label>
      <input type="text" class="text-line text-center" value="{{patient.lastName}}" disabled>
      <br>
      <label>NRIC/Passport No.:</label>
      <input type="text" class="text-line text-center" value="{{patient.nric}}" disabled>
      <br>
      <label>Gender:</label>
      <input type="text" class="text-line text-center" value="{{patient.gender}}" disabled>
      <br>
      <label>Contact No.:</label>
      <input type="text" class="text-line text-center" value="{{patient.contactNo}}" disabled>
      <br>
      <label>Date of Birth:</label>
      <input type="text" class="text-line text-center" value="{{patient.dob}}" disabled>
      <br>
      <label>Nationality:</label>
      <input type="text" class="text-line text-center" value="{{patient.nationality}}" disabled>  
      <br>
      <label>Address:</label>
      <input type="text" class="text-line text-center" value="{{patient.address}}" disabled>
    </div>
  </div>
</div>
