<div class="container col">
  <div class="list-group float-left">
    <a routerLink="/profile" class="list-group-item list-group-item-action active text-center" id="viewSide">View Profile</a>
    <a routerLink="/edit-profile" class="list-group-item list-group-item-action text-center" id="editSide">Edit Profile</a>
  </div>

  <div class="container float-right" id="rightSide">
    <div class="container col-sm-2 float-left text-center" id="rightInner">
        <img src="https://openclipart.org/image/2400px/svg_to_png/222252/feels.png" height="150px" width="150px">
        <label>Username:</label>
        <input type="text" class="text-line text-center" value="OllieArrow" disabled>
        <br>
        <label>Password:</label>
        <input type="password" class="text-line text-center" value="123456" disabled>
    </div>
    
    <div class="container col-sm-9 float-right" id="rightInner">
      <label>First Name:</label>
      <input type="text" class="text-line text-center" value="Oliver" disabled>
      <br>
      <label>Last Name:</label>
      <input type="text" class="text-line text-center" value="Queen" disabled>
      <br>
      <label>NRIC/Passport No.:</label>
      <input type="text" class="text-line text-center" value="S1234567A" disabled>
      <br>
      <label>Gender:</label>
      <input type="text" class="text-line text-center" value="Male" disabled>
      <br>
      <label>Contact No.:</label>
      <input type="text" class="text-line text-center" value="91234567" disabled>
      <br>
      <label>Date of Birth:</label>
      <input type="text" class="text-line text-center" value="01-12-1998" disabled>
      <br>
      <label>Nationality:</label>
      <input type="text" class="text-line text-center" value="Singaporean" disabled>  
      <br>
      <label>Address:</label>
      <input type="text" class="text-line text-center" value="Blk 111 Happy Street 01 #08-121" disabled>
      <br>
      <label>Postal Code:</label>
      <input type="text" class="text-line text-center" value="512111" disabled>
    </div>
  </div>
</div>
