<div class="container">
  <div class="row">
    <h5><u>Find Clinics Near You</u></h5>
    <input class="text-line text-center" type="text" placeholder="Search">
  </div>

  <div class="container text-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">West</th>
          <th scope="col">North</th>
          <th scope="col">Central</th>
          <th scope="col">Northeast</th>
          <th scope="col">East</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Boon Lay</td>
          <td>Marsiling</td>
          <td>Alexandra</td>
          <td>Ang Mo Kio</td>
          <td>Bedok</td>
        </tr>
        <tr>
          <td>Bukit Batok</td>
          <td>Sembawang</td>
          <td>Aljunied</td>
          <td>Buangkok</td>
          <td>Bedok Reservoir</td>
        </tr>
      </tbody>
    </table>
  </div>
   
  
</div>