<div class="jumbotron text-center">
  <h1 class="display-2">GrabHealth</h1>
  <h1 class="display-4">Why choose us?</h1>
</div>

<div class="container mx-auto">

  <div class="row text-center"> 

    <div class="col card border-primary mb-3 mr-3" style="max-width: 20rem;">
      <div class="card-body">
        <h4>6 simple steps to use our application!</h4>
      </div>
    </div>
      
    <div class="col card border-primary mb-3 mr-3" style="max-width: 20rem;">
      <div class="card-header">Step 1</div>
      <div class="card-body">
        <h4 class="card-title">Create an Account</h4>
        <p class="card-text">Click on sign up to register an account with us. After registering, proceed to login to complete the other steps.</p>
      </div>
    </div>

    <div class="col card border-primary mb-3 mr-3" style="max-width: 20rem;">
      <div class="card-header">Step 2</div>
      <div class="card-body">
        <h4 class="card-title">Find a Clinic</h4>
        <p class="card-text">Click on 'Make An Appointment' tab to find the clinic around your estate.</p>
      </div>
    </div>  

    <div class="col card border-primary mb-3 mr-3" style="max-width: 20rem;">
      <div class="card-header">Step 3</div>
      <div class="card-body">
        <h4 class="card-title">Make an Appointment</h4>
        <p class="card-text">Find your preferred clinic then click on the 'Book' button to make an appointment.</p>
      </div>
    </div>

  </div>

  <div class="row text-center"> 
    <div class="col card border-primary mb-3 mr-3" style="max-width: 20rem;">
      <div class="card-header">Step 4</div>
      <div class="card-body">
        <h4 class="card-title">Wait for Queue Number</h4>
        <p class="card-text">After making an appointment, wait for the clinic to accept your request then, you will be able to see your status changed to "Accepted" and get your queue number.</p>
      </div>
    </div>
      
    <div class="col card border-primary mb-3 mr-3" style="max-width: 20rem;">
      <div class="card-header">Step 5</div>
      <div class="card-body">
        <h4 class="card-title">View Booking Status</h4>
        <p class="card-text">Click on 'Appointment Status' tab to view your current booking status and queue number.</p>
      </div>
    </div>

    <div class="col card border-primary mb-3 mr-3" style="max-width: 20rem;">
      <div class="card-header">Step 6</div>
      <div class="card-body">
        <h4 class="card-title">View Visit History</h4>
        <p class="card-text">After the visit, you can click on 'Visit History' to see your past appointments.</p>
      </div>
    </div>  

    <div class="col card border-primary mb-3 mr-3" style="max-width: 20rem;">
      <div class="card-body">
        <h4>And tadahh! Enjoy using our application with just 6 simple steps. Thank you!</h4>
      </div>
    </div>
  </div>

</div>