<div class="container">
  <div class="row">
    <table class="table" id="header">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><h3><b>View Visit History</b></h3></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="container text-center">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Date of Visit</th>
          <th scope="col">Billed Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{appointment.date}}</td>
          <td>{{appointment.billedAmount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>