<div class="container">
  <div class="row">
    <table class="table" id="header">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><h3><b>View Visit History</b></h3></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="container text-center">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Receipt Number</th>
          <th scope="col">View e-Receipt</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>