<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">

        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="material-icons">person</i></span>
                        <input type="text" placeholder="Username" class="form-control text-line" id="userName" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.userName.errors }">
                        <div *ngIf="submitted && loginForm.controls.userName.errors" class="invalid-feedback">
                            <div *ngIf="loginForm.controls.userName.errors.required">Required!</div>
                        </div>
                    </div>

                    <div class="form-group input-group">    
                            <span class="input-group-addon"><i class="material-icons">lock</i></span>
                            <input type="password" placeholder="Password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }">
                            <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
                                <div *ngIf="loginForm.controls.password.errors.required">Required!</div>
                            </div>
                    </div>

                    <div class="form-group text-right">
                        <a href="#" data-toggle="modal" data-target="#modal">Forget Password</a>

                        <div class="modal" id="modal">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title"><strong>Reset Password</strong></h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p class="text-center">Please enter the following details to request for a password reset.</p>
                                  <div class="col text-left">
                                        <label for="contactNo">Contact No.:</label>
                                        <input type = "text" class="col-sm-5 form-control" id="contactNo" formControlName = "contactNo">
                                        <label for="nric">NRIC Issue Date:</label>
                                        <input type = "date" class="col-sm-5 form-control" id="nric" formControlName = "nric">
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-primary">Send</button>
                                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    

                    <div class="form-group float-right">
                        <button class="btn btn-primary " type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>